@model PMISBussinessLayer.Entities.Project

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>


<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractFileType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractFileType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectManger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectManger.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
