@using PMISBussinessLayer.Entities
@using PMIS2.DTO
@model InsertProjectPhaseDTO
@{
    ViewData["Title"] = "Create";
    var phase = (List<Phase>)ViewBag.phasess;
    var project = (Project)ViewBag.project;
}

<h1>Create</h1>

<h4>ProjectPhase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden name="ProjectId" value="@project.Id" />

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PhaseId" class="control-label"></label>
                <select class="form-control" asp-for="@Model.PhaseId">
                    @foreach (var item in phase)
                    {
                        <option value="@item.Id">@item.PhaseName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
